@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


main {
    margin-top: 70px; 
}

/* Navigation Bar */
#First-Section {
    padding: 10px;
    align-items: center;
    margin-top: 250px;
}

nav {
    background-color: #EE4D2D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    font-family: "Poppins",sans-serif;   
    height: 135px;
}


ul {
    list-style: none;
    margin: 0;
    display: flex; 
    margin-top: -23px;
    margin-left: 0;
    align-items: center;
    
}

li {
    margin-right: 20px; 
}

a {
    text-decoration: none;
    color: white; 
    font-size: 20px; 
    padding: 14px;
    display: inline-block;
    transition: color 0.3s; 
}

a:hover {
    color: #ffffff;
     

}

#First-Section img {
    width: 200px;    
    cursor: pointer; 

}

.Games-Page-Header {
    text-align: center;
}

.Flappy-Bird-Game {
    text-align: center;
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the section horizontally */
    padding-top: 100px;
    margin-left: -5px;
}

.FlappyBirdImage img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 10px;
    padding: 10px 20px; /* Add padding for a comfortable touch area */
    background-color: #2c5d6e; /* Set background color */
    color: #fff; /* Set text color to white */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth background color and opacity transition */

    /* Hover state */
    &:hover {
        background-color: #2c5d6e; /* Darker background color on hover */
        opacity: 0.8; /* Reduce opacity on hover */
    }
}

.Wordle-Game {
    text-align: center;
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the section horizontally */
    padding-left: 530px;
    margin-top: -340px;
}

.Wordle img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 10px;
    padding: 10px 20px; /* Add padding for a comfortable touch area */
    background-color: #2c5d6e; /* Set background color */
    color: #fff; /* Set text color to white */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth background color and opacity transition */

    /* Hover state */
    &:hover {
        background-color: #2c5d6e; /* Darker background color on hover */
        opacity: 0.8; /* Reduce opacity on hover */
    }
}
