@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


main {
    margin-top: 70px; 
}

body {
    margin: 0px;
}

/* Navigation Bar */
#First-Section {
    padding: 10px;
    align-items: center;
    margin-top: 250px;
    margin-bottom: -430px;
}

nav {
    background-color: #EE4D2D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    font-family: "Poppins",sans-serif;   
    height: 135px;
}


ul {
    list-style: none;
    margin: 0;
    display: flex; 
    margin-top: -23px;
    margin-left: 0;
    align-items: center;
    
}

li {
    margin-right: 20px; 
}

li.active {
    margin-left: 52%;
}

a {
    text-decoration: none;
    color: white; 
    font-size: 20px; 
    padding: 14px;
    display: inline-block;
    transition: color 0.3s; 
}

a:hover {
    color: #ffffff;
    

}

#First-Section img {
    width: 200px;    
    cursor: pointer; 
}

/* Second Section */
#Second-Section {
    margin-top: -390px; /* Add any specific styles for the second section if needed */
    display: flex;
    justify-content: center;
    margin-bottom: -200px;
    padding-left: 160px;
    align-items: center;
}

/* Container for the first slider */
.Ad-Slider-Container {
    width: 40%; /* Adjust the width of the first slider container as needed */
}

.swiper {
    width: 100%; /* Set the width of the first slider to 100% of the container */
    max-width: 938px; /* Set a maximum width for the first slider if needed */
}

.swiper-slide img {
    width: 90%; /* Make sure the images inside the first slider take the full width */
    height: auto; /* Maintain the aspect ratio of the images */
}

.Ad-Non-Slider {
    margin-right: 404px;
    margin-left: -84px;
}

.Ad-Non-Slider img {
    height: 408px;
    margin-top: 100px;
    width: 538px;
}

/* Product Category section */
.Product-Category-Heading {
    font-size: 18px; /* Add 'px' to specify font size */
    text-align: left; /* Center the heading */
    padding-left: 300px;
    margin-top: 0px;

}

#Third-Section {
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
    padding: 20px;
    margin-top: -40px;
    padding-right: 24px;
    padding-bottom: 150px;
}

.Product-Category-Container {
    flex-grow: 2;
    height: 300px;
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    margin: 20px 0; /* Adjust the margin as needed */
    box-sizing: border-box;
}

.Product-Category-Container a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Flex-Category {
    max-width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-category-photos {
    max-width: 200px;
    max-height: 150px; /* Adjust as needed */
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: -10px;
}

.Category-Name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

/* slider start*/

.Ad-Slider-Container{
    width: 80%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top: 100px;
}

.swiper{
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #ffffff;
}

.swiper .swiper-pagination-bullet-active{
    background: #ffffff;
}
/* Orange divider*/
.Orange-Line {
    width: 100%;
    border: 2px solid #EE4D2D;
    margin: 20px auto;    
}

/*Fourth Section */
#Fourth-Section {
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #FFFFFF;
    margin-bottom: -300px;
}

.Popular-Products-Heading {
    margin-left: 300px;
    margin-bottom: -270px;
    margin-top: -50px;
}

.Product-Slider-Container {
    max-width: 1300px;
    width: 95%;
}

.Slider-Wrapper {
    position: relative;
}

.Slider-Wrapper .product-slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.Slider-Wrapper .product-slide-button:hover {
    background: #444;
}

.Slider-Wrapper .product-slide-button#product-prev-slide {
    left: -20px;
    display: none;
}

.Slider-Wrapper .product-slide-button#product-next-slide {
    right: -20px;
}

.Slider-Wrapper .Image-List {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(10, 1fr);
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.Slider-Wrapper .Image-List::-webkit-scrollbar {
    display: none;
}

.Slider-Wrapper .Image-List .Image-Item {
    width: 325px;
    height: 320px;
    object-fit: cover;
}

.Product-Slider-Container .Product-Slider-ScrollBar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.Product-Slider-ScrollBar .Product-Scrollbar-Track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.Product-Slider-ScrollBar:hover .Product-Scrollbar-Track {
    height: 4px;
}

.Product-Slider-ScrollBar .Product-Scrollbar-Thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.Product-Slider-ScrollBar .Product-Scrollbar-Thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.Product-Slider-ScrollBar .Product-Scrollbar-Thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media (max-width:1023px) {
    .Slider-Wrapper .product-slide-button {
        display: none!important;
    }

    .Slider-Wrapper .Image-List {
        gap: 10px;
        margin-bottom: 15px;
    }

    .Slider-Wrapper .Image-List .Image-Item {
        width: 280px;
        height: 380px;
    }

    .Product-Slider-ScrollBar .Product-Scrollbar-Thumb {
        width: 20%;
    }
}

/* Fifth Section */
#Fifth-Section {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer-Section {
    display: flex;
    flex-wrap: wrap; /* Allow child elements to wrap to the next line */
}

.Orange-Line {
    margin-bottom: -120px;
}

.Modes-Of-Payment,
.Logistic-Options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust this value as needed for the spacing */
    margin-left: 80px; /* Adjust this value to increase lateral space */
    margin-right: 80px; /* Adjust this value to increase lateral space */
}

.payment-heading {
    margin-top: 200px; /* Adjust this value as needed for the spacing */
    text-align: center;
    font-size: 35px;
}

.logistic-heading {
    margin-top: 200px; /* Adjust this value as needed for the spacing */
    text-align: center;
    font-size: 35px;
}

.payment-logos,
.logistic-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow logos to wrap to the next line if needed */
}

.payment-logo,
.logistic-logo {
    width: 80px; /* Set the desired width for both payment and logistics logos */
    height: auto;
    margin: 0 10px 10px 0px; /* Adjust the last value for bottom margin */
    padding: 10px;
}

/* Additional styles for better alignment */
.Logistic-Options {
    margin-top: 20px; /* Adjust this value for spacing between payment and logistics sections */
    width: 100px;
}

.Modes-Of-Payment {
    width: 100px;
}

.Socials {
    align-items: center;
    padding-top: 0px;
    text-align: center;
    margin-top: 194px;
    width: 200px;
    margin-right: 400px;
}

.Socials h1 {
    font-size: 35px;
}

.Socials a {
    text-decoration: none; 
    margin: 20px;    
    color: black;
    opacity: 1; 
    transition: opacity 0.4s ease; 
}

.Socials a:hover {
    opacity: 0.4; 
}

.Shopee-QR-Code {
    font-size: 22px;
    margin-top: -432px;
    margin-left: 720px;
}

.fa-youtube,
.fa-instagram,
.fa-tiktok,
.fa-linkedin-in {
    margin: -20px;
}

.qr-code {
    height: 50vh;
    width: auto;
    margin-left: 720px;

}




