@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


main {
    margin-top: 70px; 
}

/* Navigation Bar */
#First-Section {
    padding: 10px;
    align-items: center;
    margin-top: 250px;
}

nav {
    background-color: #EE4D2D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    font-family: "Poppins",sans-serif;   
    height: 135px;
}


ul {
    list-style: none;
    margin: 0;
    display: flex; 
    margin-top: -23px;
    margin-left: 0;
    align-items: center;
    
}

li {
    margin-right: 20px; 
}

a {
    text-decoration: none;
    color: white; 
    font-size: 20px; 
    padding: 14px;
    display: inline-block;
    transition: color 0.3s; 
}

a:hover {
    color: #ffffff;
     

}

#First-Section img {
    width: 200px;    
    cursor: pointer; 

}

#Second-Section {
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
    padding: 20px;
    margin-top: 40px;
        
}

.Product-Category-Heading-2 {
    font-size: 18px; /* Add 'px' to specify font size */
    text-align: center; /* Center the heading */
    margin-bottom: 20px;
}

.Product-Category-Container {
    padding: 1%;
    flex-grow: 2;
    height: auto;
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px; /* Adjust the top margin as needed */
}

.Flex-Category {
    max-width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Flex-Category img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin-top: 20px;
}

.Category-Name {
    text-align: center;
    margin-top: -60px; /* Adjust the top margin as needed */
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#Product-Section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    margin-top: 200px; /* Adjust the top margin as needed */
}

.Product-Container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.Product-Item {
    flex-basis: 22%;
    padding: 10px;
    border: 2px solid grey;
    box-sizing: border-box;
    text-align: center;
}

.Product-Item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}